.cart
  .container
    h2.cart__title Корзина
  .container.cart__container
    ul.cart__left

    form.cart__right(method="POST")
      .cart__result
        span.cart__result-text ИТОГО
        span.cart__result-sum
      button.cart__submit Перейти к оформлению
