footer.footer.container
  .footer__container
    a.footer__logo(href="index.html") QPICK
    nav.footer__nav
      ul.footer__list
        li.footer__item
          a(href="#").footer__link Избранное
        li.footer__item
          a(href="cart.html").footer__link Корзина
        li.footer__item
          a(href="#").footer__link Контакты
    .footer__options
      a.footer__about(href="#") Условия сервиса
      .footer__lang
        svg.footer__lang-img
          use(xlink:href="images/sprite.svg#lang")
        ul.footer__lang-list
          li.footer__lang-item
            button.footer__btn-lang.active Рус
          li.footer__lang-item
            button.footer__btn-lang Eng
    ul.footer__social
      li.footer__social-item
        a.footer__social-link(href="#")
          svg.footer__social-img
            use(xlink:href="images/sprite.svg#VK")
      li.footer__social-item
        a.footer__social-link(href="#")
          svg.footer__social-img
            use(xlink:href="images/sprite.svg#Telegram")
      li.footer__social-item
        a.footer__social-link(href="#")
          svg.footer__social-img
            use(xlink:href="images/sprite.svg#Whatsapp")
