header.header
  .container.header__container
    a(href="/").header__logo QPICK
    ul.header__btns-list
      li.header__btn-item
        a(href="#").header__btn
          svg.header__icon
            use(xlink:href="images/sprite.svg#heart")
          span.header__heart-sum.header__icon-sum 2
      li.header__btn-item
        a(href="cart.html").header__btn
          svg.header__icon
            use(xlink:href="images/sprite.svg#cart")
          span.header__cart-sum.header__icon-sum 0
