.catalog {

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: $grey-color;
    margin-bottom: 20px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 31px 29px;
    margin-bottom: 30px;
    @media (max-width: $table) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $table-m) {
      grid-template-columns: repeat(1, 1fr);
    }
    &:last-child {
      margin-bottom: 20px;
    }
  }
}
