.header {
  padding: 15px 0;
  margin-bottom: 24px;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    color: $black-color;
  }
  &__btns-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
  }
  &__btn {
    position: relative;
    &-item {
      &:not(:last-child) {
        margin-right: 45px;
      }
      margin-right: 5px;
    }
  }
  &__icon {
    height: 30px;
    width: 23px;
    fill: $grey-color;
    color: $grey-color;
    transition: color $transition, fill $transition;

    &:hover {
      fill: $black-color;
      color: $black-color;
    }

    &:active {
      fill: $yellow-color;
      color: $yellow-color;
    }
    &-sum {
      position: absolute;
      background: $yellow-color;
      color: $white-color;
      font-size: 15px;
      line-height: 18px;
      font-weight: 500;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      text-align: center;
      top: -18px;
      right: -10px;
    }
  }
}
