<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= "QPICK | Главная"
    script(src='app.js' defer)
    link(href="styles/main.css" rel="stylesheet")
  body
    include ./html/header.pug
    include ./html/main.pug
    include ./html/footer
